@import '../../mixins/media.scss';
.container{
    display: flex;
    flex-direction: column;
    margin: 0;
    &--wrapper{
        @include main-media('min','largest'){
            padding: 0 180px 0 180px;
        }
        @include main-media('max','largest'){
            padding: 0 180px 0 180px;
        }
        @include main-media('max','xl'){
            padding: 0 80px 0 80px;
        }
        @include main-media('max','m'){
            padding: 0 40px 0 40px;
        }
        @include main-media('max','xs'){
            padding: 0 20px 0 20px;
        }
        @include main-media('max','smallest'){
            padding: 0 15px 0 15px;
        }
    }
    &--width--100{
        width: 100%;
    }
}