@import '../../mixins/media.scss';
@import '../../utils/variables.scss';

.header-contact-info{
    display: flex;
    line-height: 25px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    &__list{
        align-items: center;
    }
    &__item{
        align-items: center;
        &:first-child {
            margin-left: 0;
        }
        @include main-media('max', 'xl'){
            margin-left: 25px;
        }
        @include main-media('max', 'xs'){
            margin-left: 20px;
        }
    }

    @include main-media('max', 's'){
        display: none;
    }
}