@import '../../mixins/media.scss';

.header{
    display: flex;
    width: 100%;
    &__container{
        width: 100%;
        @include main-media('min','largest'){
            padding: 0 100px 0 100px;
        }
        @include main-media('max','largest'){
            padding: 0 100px 0 100px;
        }
        @include main-media('max','xl'){
            padding: 0 80px 0 80px;
        }
        @include main-media('max','l'){
            padding: 0 70px 0 70px;
        }
        @include main-media('max','m'){
            padding: 0 40px 0 40px;
        }
        @include main-media('max','xs'){
            padding: 0 20px 0 20px; 
        }
        @include main-media('max','smallest'){
            padding: 0 15px 0 15px;
        }
    }
    &__section{
        display: flex;
        width: 100%;
        align-items: center;
        &:last-child{
            margin-bottom: 0;
        }
        @include main-media('min','largest'){
            margin-bottom: 40px;
        }
        @include main-media('max','largest'){
            margin-bottom: 40px;
        }
        @include main-media('max','xl'){
            margin-bottom: 35px;
        }
        @include main-media('max','s'){
            margin-bottom: 20px;
        }
        @include main-media('max','smallest'){
            margin-bottom: 0;
        }
    }

    &__logo{
        @include main-media('max', 's'){
            display: none;
        }
        &--hidden{
            display: none;
            @include main-media('max', 's'){
                display: flex;
            }
        }

    }

    &__mall-info{
        margin-left: auto; 
    }

    &__main-menu{
        width: 100%;
    }

    &__search{
        content: url('/icons/icon_founder.svg');
    }

    @include main-media('min','s'){
        padding: 23px 0 40px 0;
    }
    @include main-media('max','s'){
        padding: 20px 0 24px 0;
    }
    @include main-media('max','xs'){
        padding: 20px 0 20px 0;
    }
    @include main-media('max','smallest'){
        padding: 15px 0 15px 0;
    }
}