@import '../../mixins/media.scss';
@import '../../utils/variables.scss';

.header-main-menu{
    line-height: 24px;
    font-weight: 700;
    
    &__list{
        position: relative;
        width: 100%;
        overflow: hidden;
        align-items: center;
        justify-content: space-between;

        @include main-media('min', 'largest'){
            margin-left: 70px;
        }
        @include main-media('min', 'xl'){
            margin-left: 40px;
        }
        @include main-media('min', 's'){
            margin-left: 30px;
        }
        @include main-media('min', 'xs'){
            margin-left: 0;
        }
    }

    @include main-media('min', 'l'){
        font-size: 24px;
    }
    @include main-media('min', 'm'){
        font-size: 20px;
    }
    @include main-media('min', 'xs'){
        display: flex;
        font-size: 16px;
    }
    @include main-media('min', 'smallest'){
        display: none;
    }
} 