@import '../../mixins/media.scss';
.header-mall-info{
    display: flex;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    &__list{
        align-items: center;
    }

    &__item{
        align-items: center;
        &:first-child {
            margin-left: 0;
        }
        &:last-child{
            @include main-media('min', 'xs'){
                display: none;
            }
            @include main-media('min', 'smallest'){
                display: flex;
            }
        }
        @include main-media('min', 's'){
            margin-left: 25px;
        }
        @include main-media('min', 'xs'){
            display: flex;
            margin-left: 20px;
        }
        @include main-media('min', 'smallest'){
            display: none;
        }
        &--lang{
            @include main-media('min', 'smallest'){
                display: flex;
            }
        }
    }

    &__link{
        display: flex;
        align-items: center;
        &::before{
            margin-right: 15px;
        }
        &--schedule{
            &::before{
                content: url('/icons/icon_clock.svg');
            }
        }
        &--phone{
            &::before{
                content: url('/icons/icon_phone.svg');
            }
        }
        &--map{
            &::before{
                content: url('/icons/icon_nav.svg');
            }
        }
        &--floors{
            &::before{
                content: url('/icons/icon_stairs.svg');
            }
        }
        
        
    }

    &__burger{
        content: url('/icons/burger.svg');
    }

    &__text{
        @include main-media('min', 'l'){
            display: flex;
        }
        @include main-media('min', 'smallest'){
            display: none;
        }
    }
}