.nav-menu{
    flex-direction: column;
    
    &--wrapper{
        margin-left: 9%;
    }
    &__header{
        position: relative;
        // &::before{
        //     position: absolute;
        //     top:0;
        //     left: -25px;
        //     content: url('/icons/hexagon_head.svg');
        //     z-index: -1;
        //     @include main-media('min','s'){
        //         max-width: 85px;
        //     }
        //     @include main-media('min','xs'){
        //         max-width: 70px;
        //     }
        //     @include main-media('min','smallest'){
        //         max-width: 40px;
        //     }
        // }
        @include main-media('min','s'){
            margin: 50px 0 50px 0;
        }
        @include main-media('min','smallest'){
            margin: 50px 0 30px 0;
        } 
        
    }

    &__breadcrumbs{
        @include adaptiv-font(20,12);
        @include main-media('min','smallest'){
            margin: 15px 0 0 0;
        }
    }
}