@import '../../mixins/media.scss';
.logo{
    @include main-media('min', 'largest'){
        width: 328px;
        height: 64px;
    }
    @include main-media('min', 'xl'){
        width: 287px;
        height: 60px;
    }
    @include main-media('min', 'l'){
        width: 260px;
        height: 50px;
    }
    @include main-media('min', 'm'){
        width: 250px;
        height: 50px;
    }
    @include main-media('min', 'xs'){
        width: 200px;
        height: 40px;
    }
    @include main-media('min', 'smallest'){
        height: 25px;
        width: 130px;

    }
}