@import '../../mixins/media.scss';
.main{
    position: relative;
    flex-direction: column;
    //overflow: hidden;
    align-items: center;
    margin: 40px 0 40px 0;

    &__paralax-container{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__content{
        flex-direction: column;
        padding: 0 10% 0 10%;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    &__subscription{
        margin-top: 80px;
        @include main-media('max','m'){
            margin-top: 75px;
        }
        @include main-media('max','xs'){
            margin-top: 50px;
        }
    }
    
}