@import '../../mixins/media.scss';

.footer{
    display: flex;
    width: 100%;
    padding: 0 0 40px 0;
    &__section{
        display: flex;
        width: 100%;
        &:last-child{
            margin-bottom: 0;
        }
        @include main-media('min','xl'){
            margin-bottom: 40px;
        }
        @include main-media('min','m'){
            margin-bottom: 35px;
        }
        @include main-media('min','smallest'){
            margin-bottom: 20px;
        }
        &--grid{
            
            @include main-media('min','s'){
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto;
            }
            @include main-media('min','smallest'){
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: 1fr auto;
            }
        }
        &--copyright{
            @include main-media('min','xs'){
                flex-direction: row;
                align-items: center;
            }
            @include main-media('min','smallest'){
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__column{
        display: flex;
        flex-direction: column;
        &--social-media{
            @include main-media('min','xl'){
                margin: 0 0 0 130px;
                flex-direction: column;
                align-items: flex-start;
            }
            @include main-media('min','xs'){
                flex-direction: row;
                align-items: center;
                margin: 20px 0 0 0;
            }
            @include main-media('min','smallest'){
                flex-direction: column;
                align-items: flex-start;
                margin: 0;
            }
        }
        @include main-media('min','xs'){
            margin-bottom: 0;
        }
        @include main-media('min','smallest'){
            margin-bottom: 20px;
        }
    }

    &__grid-column{
        display: grid;
        &--menu{
            grid-template-columns: auto auto;
            @include main-media('min','xs'){
                grid-template-columns: 1fr 1fr;
            }
            @include main-media('min','smallest'){
                grid-template-columns: auto;
                grid-template-rows: auto auto;
            }
        }
        &--contacts{
            @include main-media('min','xl'){
                grid-template-columns: auto 1fr;
                grid-template-rows: 1fr;
            }
            @include main-media('min','l'){
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
            }
            @include main-media('min','xs'){
                grid-template-columns: auto;
            }
            @include main-media('min','smallest'){
                grid-template-columns: auto;
                grid-template-rows: auto auto;
            }
        }
        
    }

    &__copyright{
        
        @include main-media('min','xs'){
            align-items: baseline;
            flex-direction: row;
        }
        @include main-media('min','smallest'){
            align-items: center;
            flex-direction: column;
        }
    }

    &__author{
        margin-left: 10px;
        
    }
&__policy{
    margin-left: 10px;
    @include main-media('min','xs'){
        margin: 0 0 0 10px;
    }
    @include main-media('min','smallest'){
        margin: 10px 0 10px 0;
    }
}
    &__madein{
        @include main-media('min','xs'){
            margin-left: auto;
        }
        @include main-media('min','smallest'){
            margin-left: 0;
        }
    }

    &__column-header{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 15px;
        }
        &--social{
            @include main-media('min','xs'){
                margin-right: 40px;
            }
        }
    }

    &__list{
        flex-direction: column;
    }

    &__item{
        margin-bottom: 10px;
        &--schedule{
            margin-top: 18px;
            margin-bottom: 18px;
        }

        &:last-child{
            margin: 0;
        }
    }
    &__social-item{
        margin-left: 25px;
    }

}