.breadcrumbs{
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: #AAAAAA;
    &__item{
        display: flex;
        margin-left: 10px;
        color:#333333;
        &:first-child{
            font-weight: 700;
            margin-left: 0;
        }
    }

    &__item::after{
        display:flex;
        content: '/';
        font-weight: 700;
        margin-left: 10px;
    }
    
    &__item:last-child::after{
        display: none;
    }
}