.list{
    display: flex;
    overflow: hidden;
    align-items: center;
    &__item{
        margin-left: 40px;
        align-items: center;
        &:first-child {
            margin-left: 0;
        }
    }
}