.instagram{
    //background-image: url('/symbol/svg/sprite.symbol.svg#instagram');
    content: url('/icons/instagram.svg');
    min-width: 20px;
    &:hover{
        content: url('/icons/instagram_hover.svg');
    }
} 