.button{
    background: url('/icons/button.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    color: #333333;
    &:hover{ 
        color: white;
        background: url('/icons/button_hover.svg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}