@import '../../mixins/media.scss';
@import '../../utils/variables.scss';
@import '../../mixins/adaptiv.scss';

.article{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &--indents{
        @include main-media('min','m'){
            margin-bottom: 80px;
        }
        @include main-media('min','smallest'){
            margin-bottom: 40px;
        }
    }

    &--flex-end{
        
    }

    &__header{

        margin: 0 auto 30px auto;
    }

    &__main-grid{
        display: grid;
        position: relative;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    &__reverse-row{
        align-items: center;
        @include main-media('min','xs'){
            display: grid;
            position: relative;
            //justify-content: center;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
        }
        @include main-media('min','smallest'){
            display: flex;
            flex-direction: column-reverse; 
        }
    }

    &__row{
        @include main-media('min','xs'){
            display: grid;
            position: relative;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto;
        }
        @include main-media('min','smallest'){
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }
    }

    &__row-inner{
        position: relative;
        flex-direction: column;
        align-items: center;
        &--forsazh-desc{
            @include main-media('min','largest'){
                margin-left: 140px;
            }
            @include main-media('min','xl'){
                margin-left: 130px;
            }
            @include main-media('min','l'){
                margin-left: 90px;
            }
            @include main-media('min','s'){
                margin-left: 60px;
            }
            @include main-media('min','xs'){
                margin-left: 20px;
            }
            @include main-media('min','smallest'){
                margin-left: 0;
            }
        }

        &--kinomax-desc{
            @include main-media('min','m'){
                margin-right: 80px;
            }
            @include main-media('min','xs'){
                margin-right: 30px;
            }
            @include main-media('min','smallest'){
                margin-right: 0;
            }
        }
    }

    &__desc{
        display: flex;
        flex-direction: column;
        font-family: "Source Sans Pro";
        max-width: 435px;
        @include main-media('min','xs'){
            display: flex;
            @include adaptiv-font(24,12);
        }
        @include main-media('min','smallest'){
            display: none;
        }
    }

    &__hidden-desc{
        
        @include main-media('min','xs'){
            display: none;
        }
        @include main-media('min','smallest'){
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            max-width: 375px;
            font-family: "Source Sans Pro";
            //@include adaptiv-font(24,12);
            font-size: 16px;
        }
    }

    &__desc-header{
        margin: 20px 0 15px 0;
        @include adaptiv-font(36,16);
    }

    &__desc-container{
        
        @include main-media('min','xs'){
            flex-direction: column;
        }
        @include main-media('min','smallest'){
            flex-direction: row;
            justify-content: center;
        }
    }

    &__container{
        @include main-media('min','xs'){
            align-items: flex-start;
            margin: 0;
        }
        @include main-media('min','smallest'){
            align-items: center;
        }
    }

    &__timelist{
        flex-direction: column;
        font-weight: 700;
        margin-bottom: 15px;

        @include main-media('min','m'){
            font-size: 24px;
            line-height: 24px;
        }
        @include main-media('min','xs'){
            font-size: 20px;
            line-height: 24px;
        }
        @include main-media('min','smallest'){
            font-size: 12px;
            line-height: 12px;
        }
    }

    &__time-item{

        @include main-media('min','xs'){
            margin-bottom: 12px;
        }
        @include main-media('min','xs'){
            margin-bottom: 8px;
        }
        @include main-media('min','smallest'){
            margin-bottom: 5px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    
    &__list{
        flex-direction: column;
        font-family: "Source Sans Pro","Arial", sans-serif;
        
        @include main-media('min','l'){
            max-width: 500px;
        }
        @include main-media('min','m'){
            font-size: 24px;
            line-height: 32px;
            min-width: 300px;
        }
        @include main-media('min','s'){
            min-width: 350px;
        }
        @include main-media('min','xs'){
            min-width: 300px;
            font-size: 18px;
            line-height: 24px;
        }
        @include main-media('min','smallest'){
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__left-list{
        @include main-media('min','xl'){
            margin: 130px 100px 0 60px;
        }
        @include main-media('min','l'){
            margin: 160px 80px 0 30px;
        }
        @include main-media('min','m'){
            margin: 120px 30px 0 80px;
        }
        @include main-media('min','s'){
            margin: 60px 60px 0 60px;
        }
        @include main-media('min','xs'){
            margin: 150px 30px 0 0;
        }
        @include main-media('min','smallest'){
            margin: 15px 0 0 20px;
        }
    }

    &__right-list{
        
        @include main-media('min','l'){
            margin: 145px 0 0 100px ;
        }
        @include main-media('min','m'){
            margin: 90px 200px 0 100px ;
        }
        @include main-media('min','s'){
            margin: 120px 90px 0 60px;
        }
        @include main-media('min','xs'){
            margin: 80px 20px 0 50px;
        }
        @include main-media('min','smallest'){
            margin: 15px 0 0 20px;
        }
    }

    &__list-item{
        
        @include main-media('min','s'){
            margin-bottom: 30px;
        }
        @include main-media('min','smallest'){
            margin-bottom: 13px;
        }
        &:last-child{
            margin: 0;
        }
    }

    &__list-icon{
        content: url('/icons/menu_item_check.svg');
        @include main-media('min','s'){
            margin-right: 20px;
            width: 40px;
            height: 40px;
        }
        @include main-media('min','smallest'){
            margin-right: 8px;
            width: 20px;
            height: 20px;
        }
    }

    
    &__button{
        margin: 0 0 40px 0;
        align-items: center;
        padding: 13px 0 0 0;
        text-align: center;
        @include main-media('min','m'){
            width: 330px;
            height: 54px;
        }
        @include main-media('min','xs'){
            width: 318px;
            height: 52px;
        }
        @include main-media('min','smallest'){
            margin-top: 20px;
            width: 290px;
            height: 48px;
        }
    }

    &__button-text{
        align-items: center;
        font-weight: bold;
        @include main-media('min','xs'){
            font-size: 18px;
            line-height: 18px;
        }
        @include main-media('min','smallest'){
            font-size: 14px;
            line-height: 14px;
        }
        &::after{
            margin-left: 15px;
            content: url('/icons/black_arrow_right.svg');
        }
    }

    &__floor-link{
        @include main-media('min','s'){
            margin: 20px 0 0 0;
        }
        @include main-media('min','xs'){
            text-align: start;
            margin: 15px 0 0 0;
        }
        @include main-media('min','smallest'){
            text-align: center;
            margin: 15px 0 0 0;
        }
    }

    &__main-pic{
        
        @include main-media('min','xs'){
            margin-top: 50px;
        }
        @include main-media('min','smallest'){
            margin-top: 10px;
        }

        &--forsazh{
            @include main-media('min','xl'){
                width: 580px;
                height: 472px;
            }
            @include main-media('min','m'){
                width: 517px;
                height: 420px;
            }
            @include main-media('min','xs'){
                width: 354px;
                height: 288px;
            }
            @include main-media('min','smallest'){
                width: 290px;
                height: 207px;
            }
        }

        &--kinomax{
            @include main-media('min','m'){
                width: 705px;
                height: 442px;
            }
            @include main-media('min','s'){
                width: 517px;
                height: 420.73px;
            }
            @include main-media('min','xs'){
                width: 353.9px;
                height: 288px;
            }
            @include main-media('min','smallest'){
                width: 290px;
                height: 207px;
            }
        }
    }

    &__pic{
        &--hexagon{
            position: absolute;
            &--left{
                @include main-media('min','l'){
                    left: -100px;
                    top: 390px;
                }
                @include main-media('min','m'){
                    left: -30px;
                    top: 360px;
                }
                @include main-media('min','s'){
                    left: -10px;
                    top: 250px;
                }
                @include main-media('min','xs'){
                    left: 0;
                    top: 300px;
                }
            }
            &--right{
                @include main-media('min','m'){
                    left: 500px;
                    top: 390px;
                }
                @include main-media('min','s'){
                    left: 310px;
                    top: 400px;
                }
                @include main-media('min','xs'){
                    left: 130px;
                    top: 290px;
                }
            }

            @include main-media('min','m'){
                width: 263px;
                height: 226px;
            }
            @include main-media('min','xs'){
                display: flex;
                width: 206px;
                height: 177px;
            }
            @include main-media('min','smallest'){
                display: none;
            }
        }

        &--logo{  
            max-width: 150px;
            @include main-media('min','xs'){
                width: 120px;
                height: 104px;
            }
            @include main-media('min','smallest'){
                width: 90px;
                height: 79px;
            }
        }

        
    }

    &__secondary-pic{
        position: relative;
        flex-direction: column;
        object-fit:cover;
        &--kinomax{
            min-width: 430px;
            @include main-media('max','s'){
                min-width: 330px;
            }
        }
        &--forsazh{
            max-width: 550px;
            @include main-media('min','s'){
                min-width: 430px;
            }
            @include main-media('min','xs'){
                min-width: 330px;
            }
        }
        @include main-media('min','xs'){
            display: flex;
        }
        @include main-media('min','smallest'){
            display: none;
        }
    }
}