@import "../../../node_modules/normalize.css/normalize";
@import '../mixins/media.scss';
@import '../utils/variables.scss';
@import '../mixins/adaptiv.scss';

@font-face {
    font-family: "Cera Round Pro";
    src: local("Cera Round Pro"),
       url("/fonts/CeraRoundPro/ceraroundpro-regular.woff2") format("woff2"),
       url("/fonts/CeraRoundPro/ceraroundpro-regular.woff") format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro"),
       url("/fonts/SourceSansPro/sourcesanspro-regular.woff2") format("woff2"),
       url("/fonts/SourceSansPro/sourcesanspro-regular.woff") format("woff");
}

body{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: "Cera Round Pro", "Arial", sans-serif;
    font-style: normal;
}

div{
    display: flex;
}

nav{
    display: flex;
}

main{
    display: flex;
}

aside{
    display: flex;
}

section{
    display: flex;
}

article{
    display: flex;
}


form{
    display: flex;
}

input{
    display: flex;
    border:none;
    background-color: transparent;
    border-bottom: solid 1px #E0E0E0;
    font-family: "Source Sans Pro";
    padding: 0;
    margin: 0;
    font-size: 16px;
    &::placeholder{
        font-family: "Source Sans Pro","Arial", sans-serif;
        color: $grey;
    }
    &::-webkit-input-placeholder{
        color: $grey;
        font-family: "Source Sans Pro","Arial", sans-serif;
    }
    &::-moz-placeholder{
        color: $grey;
        font-family: "Source Sans Pro","Arial", sans-serif;
    }
    &::-ms-input-placeholder{
        color: $grey;
        font-family: "Source Sans Pro","Arial", sans-serif;
    }
}

button{
    display: flex;
    border: none;
    margin: 0;
    background-color: transparent;
}


h1, h2, h3, h4, h5{
    display: flex;
    font-weight: bold;
    margin: 0;
}

h1{
    @include adaptiv-font(72,36);
}

h2{
    @include adaptiv-font(48,24);
}

h3{
    @include adaptiv-font(36,18);
}

h4{
    @include adaptiv-font(30,14);
}

h5{
    @include adaptiv-font(24,20);
}

p{
    display: flex;
    margin: 0; 
    margin-block-start: 0;
    margin-block-end: 0;
}

pre{
    display: flex;
    margin: 0;
    font-family: "Source Sans Pro","Arial", sans-serif;
}


a, li{
    text-decoration: none;
    color: #333333;
}

a{
    &:hover{
        color: #FD238A;
    }
}

ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

main{
    display: flex;
}