$h-sizes: ("tiny":320px, "small":768px, "medium":1024px, "large":1920px);
$screen-sizes: ("smallest":320px, "xs":768px, "s":1024px, "m":1280px, "l":1440px, "xl":1600px, "largest":1920px);

$maxWidth: 1920;

$grey: #333333;
$malina: #FD2589;
