@import '../../mixins/adaptiv.scss';
.static-menu{
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    height: 100px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    justify-content: center;
    background-color: white;
}