.search-form{
    position: relative;
    align-items: center;
    width: 100%;
    &__input{
        width: 100%;
        height: 40px;
        text-indent: 10px;
        border-radius: 42px;
        background-color:rgba(255, 255, 255, 0.1);
    }

    &__btn{
        position:absolute;
        top:50%;
        left:93%;
        transform: translate(-50%,-50%);
        border:none;
        z-index:1000;
        background-color: inherit;
        &--close{
            content: url('/icons/close.svg');
        }
        &--search{
            content: url('/build/icons/icon_founder.svg');
        }
    }
}