@import '../utils/variables.scss';

@mixin h-media($minmax, $media) {
  @each $size, $resolution in $h-sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}

@mixin main-media($minmax, $media) {
  @each $size, $resolution in $screen-sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}