@import '../../mixins/media.scss';
@import '../../mixins/adaptiv.scss';
.subscription-form{
    position: relative;
    align-items: center;
    border-radius: 15px;
    justify-content: space-between;
    background: linear-gradient(74.54deg, #FF742E 9.16%, #FD238A 90.97%);

    @include main-media('min','largest'){
        padding: 80px 100px 80px 100px;
    }
    @include main-media('min','xl'){
        padding: 80px 80px 80px 80px;
    }
    @include main-media('min','l'){
        padding: 50px 75px 50px 75px;
    }
    @include main-media('min','m'){
        flex-direction: row;
        text-align: start   ;
        padding: 50px 50px 50px 50px;
    }
    @include main-media('min','xs'){
        
        padding: 40px 80px 80px 45px;
    }
    @include main-media('min','xs'){
        padding: 40px 60px 60px 40px;
    }
    @include main-media('min','smallest'){
        flex-direction: column;
        text-align: center;
        padding: 30px 10px 30px 10px;
    }
    &__text{
        font-weight: 700;
        color: #ffffff;
        @include adaptiv-font(52,16); 
        @include main-media('min','s'){
            margin-right: 0;
            margin-bottom: 30px;
        }
        @include main-media('min','xs'){
            margin-bottom: 40px;
        }
        @include main-media('min','smallest'){
            margin-bottom: 15px;
        }
    }
    &__subscribe{
        position: relative;
        justify-content: center;
        width: 80%;
        @include main-media('min','l'){
            padding: 0 40px 0 40px;
        }
        @include main-media('max','smallest'){
            flex-direction: column;
            
        }
    }
    &__input-container{
        position: relative;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border-radius: 15px;
        width: 100%;
        
        @include main-media('min','xs'){
            height: 130px;
            margin-bottom: 0;
        }
        @include main-media('min','smallest'){
            height: 60px;
            margin-bottom: 15px;
        }
    }
    &__input{
        width: 90%;
        @include adaptiv-font(18,12); 
    }
    &__btn{
        content: url('/icons/bt_subscription.svg');
        background-color: transparent;
        margin-left: 15px;
        @include main-media('max','smallest'){
            content: url('/icons/bt_subscription_320.svg');
            margin-left: 0;
        }
    }
}